html {
    background-color:black;
 
}
body {
    text-align: center;
    background-image: url("https://i.imgur.com/ZdAcDar.jpg");
    background-size: 1000px 1000px;  
    max-width: 1000px;
    background-repeat: no-repeat;

}
.youWin {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    font-size: xx-large;
    color: goldenrod;
    font-family: 'Russo One', sans-serif;

}

.spinBtn{
    padding: 50px;
}


.allPics {
    display: flex;
    justify-content: center;
    
    
}
.array {
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-around;
    padding: 270px 100px 0 100px;
    min-width: 900px;
}
.spinBtn2 {
    padding: 200px;
    color: aliceblue;
    font-family: 'Russo One', sans-serif;
    font-size: x-large;
    min-width: 600px;
}

.pic10 {
    padding: 0 0 0 150px;    
}

.pic12 {
    padding: 0 250px 0 0;
}
.spin2{
    font-family: 'Russo One', sans-serif;
    font-size: x-large;
    border-radius: 15px;
  
    background-color: red;
    color: aliceblue;
}
.dice {
    color: lightgreen;
    font-size: x-large;
}
.number{
    width: 10px;
}
input[type=number]{
    width: 75px;
    height: 25px;
    border-radius: 10px;
}