html {
    text-align: center;
    background-image: url("https://i.imgur.com/ZdAcDar.jpg");
    background-size: 100% 100%;
    min-width: 900px;
    background-repeat: no-repeat;
 
}
body {
    text-align: center;
}
.youWin {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    font-size: xx-large;
    color: goldenrod;
    font-family: 'Russo One', sans-serif;
}


.allPics {
    display: flex;
    justify-content: center;
}
.array {
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-around;
    padding: 210px 0 0 100px;
}
.spinBtn2 {
    padding: 150px;
    color: aliceblue;
    font-family: 'Russo One', sans-serif;
    font-size: x-large;
}

.pic10 {
    padding: 0 0 0 150px;    
}

.pic12 {
    padding: 0 250px 0 0;
}
.spin2{
    font-family: 'Russo One', sans-serif;
    font-size: x-large;
    border-radius: 15px;
    background-color: red;
    color: aliceblue;
}
.dice {
    color: lightgreen;
    font-size: x-large;
}
.number{
    width: 10px;
}
input[type=number]{
    width: 75px;
    height: 25px;
    border-radius: 10px;
}
